<h1>My skills</h1>
<br>

<%= render "form", user_skill: @user_skill %>
<br>

<div id="user_skills">
  <% if @user_skills %>
    <% @user_skills.each do |user_skill| %>
      <%= render user_skill %>
    <% end %>
  <% end %>
</div>
