<p style="color: green"><%= notice %></p>

<h1>Sheep</h1>

<div id="sheep">
  <% @sheep.each do |sheep| %>
    <%= render sheep %>
    <p>
      <%= link_to "Show this sheep", sheep %>
    </p>
  <% end %>
</div>

<%= link_to "New sheep", new_sheep_path %>
