<%= form_with(model: @search) do |form| %>
  <div class="mb-1">
    <%= form.collection_select :skill_id, Skill.order(:name),:id,:title, include_blank: true, class: "form-select" %>
    <%= form.submit "Find" %>
  </div>
<% end %>




